<style>
    ._720kb-datepicker-calendar {
        min-width: auto!important;
        max-width: 1500px!important;
    }

    .padding-left-3em {
        padding-left: 3em;
    }

    label {
        font-size: 25px;
    }
</style>

<div class="ibox float-e-margins">
    <div class="tabs-container">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="padding-top:20px">
            <label>Select a date</label>
            <datepicker datepicker-show="true">
                <input ng-model="date" ng-change="dateChanged(date)" type="text" style="display:none" />
            </datepicker>
        </div>
    </div>
</div>