<style>
    ._720kb-datepicker-calendar {
        min-width: auto!important;
        max-width: 1500px!important;
    }

    .padding-left-3em {
        padding-left: 3em;
    }
</style>

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ledger</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <p style="margin-left:15px">Please choose the date range to see your desired Ledgers</p>
                        <div class="col-md-3" style="padding-top:20px">
                            <label>Select start date</label>
                            <datepicker date-format="M/d/yyyy">
                                <input ng-model="from" class="form-control" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-md-3" style="padding-top:20px">
                            <label>Select end date</label>
                            <datepicker date-format="M/d/yyyy">
                                <input ng-model="to" class="form-control" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-md-2" style="padding-top:20px">
                            <div class="form-group">
                              <label for="sel1">Select list:</label>
                              <select class="form-control" ng-model="ledger" ng-options="ledger.name for ledger in ledgersList">
                              </select>
                            </div>
                        </div>

                        <div class="col-md-4" style="padding-top:43px">
                            <a class="btn btn-info" ng-disabled="!ledger || !to || !from" ng-click="showLedger(from, to, ledger.id)">Get ledgers</a>
                            <a class="btn btn-info" style="margin-left: 10px;" ng-show="showLedgers && !showTrialBalance && ledgers.length!=0" ng-click="showTrialBalance=true">Show trial balance</a>
                            <a class="btn btn-info" style="margin-left: 10px;" ng-show="showLedgers && showTrialBalance && ledgers.length!=0" ng-click="showTrialBalance=false">Back to ledgers</a>
                        </div>
                        <div class="col-md-12" style="background-color:white; margin-top: -250px; padding:20px" ng-show="showLedgers && !showTrialBalance && ledgers.length!=0">
                            <div class="row" style="text-align:center; margin-bottom:20px; margin-top:10px">
                                <h1>XYZ Company</h1>
                                <h3>General Ledgers</h3>
                                <h3>{{from}} to {{to}}</h3>
                            </div>
                            <div class="row" ng-repeat="ledger in ledgers">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8" style="padding-bottom:20px">
                                    <h3 style="text-align: center;">{{ledger.name}} account</h3>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="3" style="text-align:center">Debit</th>
                                                <th colspan="3" style="text-align:center">Credit</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center">Date</th>
                                                <th style="text-align:center">Particulars</th>
                                                <th style="text-align:center">Amount</th>
                                                <th style="text-align:center">Date</th>
                                                <th style="text-align:center">Particulars</th>
                                                <th style="text-align:center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="transaction in ledger.transactions">
                                            <td style="border-top-color:white;border-bottom-color: white;">
                                                <span ng-hide="transaction.date1==''">{{transaction.date1|date:'MMM d, y'}}</span>
                                            </td>
                                            <td style="border-top-color:white;border-bottom-color: white;">{{transaction.debitAccount}}</td>
                                            <td style="text-align:right;border-bottom-color: white;" ng-hide="$index+1==ledger.transactions.length">{{transaction.debitValue}}</td>
                                            <td style="text-align:right;" ng-show="$index+1==ledger.transactions.length">{{transaction.debitValue}}</td>
                                            <td style="border-top-color:white;border-bottom-color: white;">
                                                <span ng-hide="transaction.date2==''">{{transaction.date2|date:'MMM d, y'}}</span>
                                            </td>
                                            <td style="border-top-color:white;border-bottom-color: white;">{{transaction.creditAccount}}</td>
                                            <td style="text-align:right;border-bottom-color: white;" ng-hide="$index+1==ledger.transactions.length">{{transaction.creditValue}}</td>
                                            <td style="text-align:right;" ng-show="$index+1==ledger.transactions.length">{{transaction.creditValue}}</td>
                                        </tr>
                                        <tr>
                                            <td style="border-top-color:white;border-bottom-color: white;"></td>
                                            <td style="border-top-color:white;border-bottom-color: white;"></td>
                                            <td style="text-align:right; border-top-color:#e7eaec">{{ledger.cr_balance>ledger.dr_balance? ledger.cr_balance:ledger.dr_balance}}</td>
                                            <td style="border-top-color:white;border-bottom-color: white;"></td>
                                            <td style="border-top-color:white;border-bottom-color: white;"></td>
                                            <td style="text-align:right; border-top-color:#e7eaec">{{ledger.cr_balance>ledger.dr_balance? ledger.cr_balance:ledger.dr_balance}}</td>
                                        </tr>
                                        <tr>
                                            <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                                            <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                                            <td style="padding: 1px;"></td>
                                            <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                                            <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                                            <td style="padding: 1px;"></td>
                                        </tr>
                                        <tr ng-hide="ledger.dr_balance==ledger.cr_balance">
                                            <td style="border-top-color:white;"></td>
                                            <td style="border-top-color:white;">{{ledger.cr_balance>ledger.dr_balance? '':'Closing Balance'}}</td>
                                            <td style="text-align:right">{{ledger.cr_balance>ledger.dr_balance? '':ledger.balance}}</td>
                                            <td style="border-top-color:white;"></td>
                                            <td style="border-top-color:white;">{{ledger.dr_balance>ledger.cr_balance? '':'Closing Balance'}}</td>
                                            <td style="text-align:right">{{ledger.dr_balance>ledger.cr_balance? '':ledger.balance}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="background-color:white; margin-top: -250px; padding:20px" ng-show="showLedgers && showTrialBalance && ledgers.length!=0">
                            <div class="row" style="text-align:center; margin-bottom:20px">
                                <h1>XYZ Company</h1>
                                <h3>Trial Balance</h3>
                                <h3>Trial Balance On {{to}}</h3>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="margin:auto">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Title of account</th>
                                            <th style="text-align:center">Debit</th>
                                            <th style="text-align:center">Credit</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="ledger in ledgers">
                                        <td style="text-align:left">{{ledger.name}}</td>
                                        <td style="text-align:right">
                                            <span ng-hide="ledger.cr_balance>ledger.dr_balance">{{ledger.balance}}</span>
                                        </td>
                                        <td style="text-align:right">
                                            <span ng-show="ledger.cr_balance>ledger.dr_balance">{{ledger.balance}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left">Total</th>
                                        <th style="text-align:right">{{debit}}
                                        </th>
                                        <th style="text-align:right">{{credit}}
                                        </th>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-12" style="background-color:white; margin-top: -250px; padding:20px" ng-show="showLedgers && ledgers.length==0">
                            <div class="row" style="text-align:center">
                                <p>No transaction occurred between {{from}} and {{to}}.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ibox float-e-margins">

</div>