<style>
    ._720kb-datepicker-calendar {
        min-width: auto!important;
        max-width: 800px!important;
    }
    ._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
        background: #148efa!important;
        color: white!important;
    }
    .padding-left-3em{
        padding-left:3em;
    }
</style>
<div class="container">
    <h2>Journals</h2>
</div>
<div class="col-md-4">
    <datepicker datepicker-show="true" date-max-limit="2/4/2018">
        <input ng-model="date" ng-change="dateChanged(date)" type="text" style="display:none" />
    </datepicker>
</div>
<div class="col-md-8">
    <div class="table-responsive">
        <table class="table table-bordered dataTables-example">
            <thead>
                <tr class="gtable">
                    <th style="width: 20%;">Date</th>
                    <th style="width: 40%;">Accounts</th>
                    <th style="width: 10%; ">Reference</th>
                    <th>Debits</th>
                    <th>Credits</th>
                </tr>
            </thead>
            <tbody ng-repeat="journal in journals">
                <tr class="gradeX" ng-repeat="ledger in journal.ledger track by $index">
                    <td rowspan="{{journal.ledger.length+1}}" ng-if="$index==0" style="vertical-align: middle;">{{journal.created_at | date : 'd/M/yyyy'}}</td>
                    <td >{{ledger.name}}</td>
                    <td></td>
                    <td style="text-align: right; "><span ng-if="ledger.pivot.account_type=='Dr'">{{ledger.pivot.value}}</span></td>
                    <td style="text-align: right; "><span ng-if="ledger.pivot.account_type=='Cr'">{{ledger.pivot.value}}</span></td>
                </tr>
                <tr class="gradeX">
                    <td>{{journal.narration}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>