<style>
    ._720kb-datepicker-calendar {
        min-width: auto!important;
        max-width: 1500px!important;
    }


    label {
        font-size: 25px;
    }
</style>



<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                    <div class="col-md-9">
                        <h5 style="padding-top: 10px;">Select a date <span data-toggle="modal" data-target="#myModal36"><i style="margin-left: 5px;" class="fa fa-info-circle"></i></span>
                        </h5>
                        <div class="modal inmodal" id="myModal36" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <h3>Instructions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Please select a date to see the journal report</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="min-height: 400px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-top:20px">
                        <datepicker datepicker-show="true">
                            <input ng-model="date" ng-change="dateChanged(date)" type="text" style="display:none" />
                        </datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
