<style>
    .app-modal-window .modal-dialog {
        width: 400px;
    }
    .padding-left-3em {
        padding-left: 3em;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align:center">Journal</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered dataTables-example">
            <thead>
                <tr class="gtable text-jm">
                    <th rowspan="2" style="width: 10%; vertical-align: middle;">Date</th>
                    <th rowspan="2" style="width: 50%; vertical-align: middle;">Description</th>
                    <th rowspan="2" style="width: 10%; vertical-align: middle;">PR</th>
                    <th colspan="2">Amount</th>
                    <tr class="gtable text-jm">
                        <th>Dr.</th>
                        <th>Cr.</th>
                    </tr>
                </tr>
            </thead>
            <tbody ng-repeat="journal in journals">
                <tr class="gradeX" ng-repeat="ledger in journal.ledger track by $index">
                    <td rowspan="{{journal.ledger.length+1}}" ng-if="$index==0" style="vertical-align: middle;">{{journal.created_at | date : 'd/M/yyyy'}}</td>
                    <td style="border-top: 0; border-bottom: 0;">{{ledger.name}}</td>
                    <td style="border-top: 0; border-bottom: 0; text-align: center;">
                        <a href="javascript:void(0)">{{ledger.id}}</a>
                    </td style="border-top: 0; border-bottom: 0;">
                    <td style="text-align: right; border-top: 0; border-bottom: 0; text-align: center;">
                        <span ng-if="ledger.pivot.account_type=='Dr'">{{ledger.pivot.value}}</span>
                    </td>
                    <td style="text-align: right; border-top: 0; border-bottom: 0; text-align: center;">
                        <span ng-if="ledger.pivot.account_type=='Cr'">{{ledger.pivot.value}}</span>
                    </td>
                </tr>
                <tr class="gradeX">
                    <td style="border-top: 0; font-style: italic;">({{journal.narration}})</td>
                    <td style="border-top: 0;"></td>
                    <td style="border-top: 0;"></td>
                    <td style="border-top: 0;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel();">Close</button>
</div>