<style>
    .app-modal-window .modal-dialog {
        width: 400px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="text-align:center">General ledger</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-repeat="ledger in ledgers" style="padding-bottom:20px">
        <h3 style="text-align: center;">{{ledger.name}} account</h3>
        <table class="table table-bordered">
            <tr>
                <th colspan="3" style="text-align:center">Debit</th>
                <th colspan="3" style="text-align:center">Credit</th>
            </tr>
            <tr>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Particulars</th>
                <th style="text-align:center">Amount</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Particulars</th>
                <th style="text-align:center">Amount</th>
            </tr>
            <tr ng-repeat="transaction in ledger.transactions">
                <td style="border-top-color:white;border-bottom-color: white;">
                    <span ng-hide="transaction.date1==''">{{transaction.date1|date:'MMM d, y'}}</span>
                </td>
                <td style="border-top-color:white;border-bottom-color: white;">{{transaction.debitAccount}}</td>
                <td style="text-align:right;border-bottom-color: white;" ng-hide="$index+1==ledger.transactions.length">{{transaction.debitValue}}</td>
                <td style="text-align:right;" ng-show="$index+1==ledger.transactions.length">{{transaction.debitValue}}</td>
                <td style="border-top-color:white;border-bottom-color: white;">
                    <span ng-hide="transaction.date2==''">{{transaction.date2|date:'MMM d, y'}}</span>
                </td>
                <td style="border-top-color:white;border-bottom-color: white;">{{transaction.creditAccount}}</td>
                <td style="text-align:right;border-bottom-color: white;" ng-hide="$index+1==ledger.transactions.length">{{transaction.creditValue}}</td>
                <td style="text-align:right;" ng-show="$index+1==ledger.transactions.length">{{transaction.creditValue}}</td>
            </tr>
            <tr>
                <td style="border-top-color:white;border-bottom-color: white;"></td>
                <td style="border-top-color:white;border-bottom-color: white;"></td>
                <td style="text-align:right; border-top-color:#e7eaec">{{ledger.cr_balance>ledger.dr_balance? ledger.cr_balance:ledger.dr_balance}}</td>
                <td style="border-top-color:white;border-bottom-color: white;"></td>
                <td style="border-top-color:white;border-bottom-color: white;"></td>
                <td style="text-align:right; border-top-color:#e7eaec">{{ledger.cr_balance>ledger.dr_balance? ledger.cr_balance:ledger.dr_balance}}</td>
            </tr>
            <tr>
                <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                <td style="padding: 1px;"></td>
                <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                <td style="border-top-color:white;border-bottom-color: white;padding: 1px;"></td>
                <td style="padding: 1px;"></td>
            </tr>
            <tr ng-hide="ledger.dr_balance==ledger.cr_balance">
                <td style="border-top-color:white;"></td>
                <td style="border-top-color:white;">{{ledger.dr_balance>ledger.cr_balance? '':'Balance B/D'}}</td>
                <td style="text-align:right">{{ledger.dr_balance>ledger.cr_balance? '':ledger.balance}}</td>
                <td style="border-top-color:white;"></td>
                <td style="border-top-color:white;">{{ledger.cr_balance>ledger.dr_balance? '':'Balance B/D'}}</td>
                <td style="text-align:right">{{ledger.cr_balance>ledger.dr_balance? '':ledger.balance}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel();">Close</button>
</div>