<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="ibox-content">
            <h2 class="font-bold" style="text-align: center;">Create New Ledger</h2>
            <form class="m-t" ng-submit="submit(ledger)">
                <div class="form-group">
                    <label for="">Ledger Name:</label>
                    <input type="text" ng-model="ledger.name" class="form-control" placeholder="Ledger Name" required>
                </div>
                <div class="form-group">
                        <label for="">Ledger Group:</label>
                        <div class="col-md-11" style="padding-left: 0px;padding-bottom: 14px;">
                            <select ng-model="ledger.ledger_category"  required class="form-control" ng-options="group.name for group in groups">
                                    <option value="" disabled ng-if="groups.length==0">No groups added. Please add.</option>
                            </select>
                        </div>
                        <a ng-click="addNewGroup()" class="col-md-1 btn btn-info">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                <div class="form-group">
                    <label for="">Other:</label>
                    <input type="text" ng-model="ledger.other" class="form-control" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="">Opening Balance:</label>
                    <input type="number" ng-model="ledger.opening_balance" class="form-control" placeholder="" required>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" ng-model="ledger.opening_balance_type" value="Dr">Debit
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="ledger.opening_balance_type" value="Cr">Credit
                    </label>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
            </form>
        </div>
    </div>
</div>