<style>
    .select2-drop {
        width: 94.5%;
    }
</style>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-lg-6" ng-show="role.indexOf('purchase_summary_dashboard')!=-1">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                    <div class="col-md-8">
                        <h5 style="padding-top: 10px;">Purchase
                            <span data-toggle="modal" data-target="#myModal33">
                                <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                            </span>
                        </h5>
                        <div class="modal inmodal" id="myModal33" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <h3>Instructions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Please select date range to see date wise purchases</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" ng-change="purchaseTypeChanged(purchaseTimeRange)" ng-model="purchaseTimeRange" style="border: none; padding-left: 25px;">
                            <option value="today" selected>Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="week">This Week</option>
                            <option value="month">This Month</option>
                        </select>
                    </div>

                </div>
                <div class="ibox-content">

                    <table class="table" ng-hide="purchases.length==0">
                        <thead>
                            <tr class="p-th">
                                <th>S/L</th>
                                <th>Date</th>
                                <th>Purchase Id</th>
                                <th>Quantity</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="p-td" ng-repeat="purchase in purchases">
                                <td>{{$index+1}}</td>
                                <td>{{purchase.created_at | date:'dd/MM/yy'}}</td>
                                <td>{{purchase.id}}</td>
                                <td>{{purchase.quantity}}</td>
                                <td>{{purchase.status=='0'?'Incomplete':purchase.value}}</td>
                            </tr>
                            <tr class="p-td">
                                <td></td>
                                <th>Total</th>
                                <td></td>
                                <td>{{purchaseQuantity}}</td>
                                <td>{{purchaseValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-show="purchases.length==0" style="font-size: 16px;">No purchase have been issued yet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-show="role.indexOf('sale_summary_dashboard')!=-1">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                    <div class="col-md-8">
                        <h5 style="padding-top: 10px;">Sale
                            <span data-toggle="modal" data-target="#myModal33">
                                <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                            </span>
                        </h5>
                        <div class="modal inmodal" id="myModal33" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <h3>Instructions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Please select date range to see date wise sales</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" ng-change="saleTypeChanged(saleTimeRange)" ng-model="saleTimeRange" style="border: none; padding-left: 25px;">
                            <option value="today" selected>Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="week">This Week</option>
                            <option value="month">This Month</option>
                        </select>
                    </div>

                </div>
                <div class="ibox-content">

                    <table class="table" ng-hide="sales.length==0">
                        <thead>
                            <tr class="p-th">
                                <th>S/L</th>
                                <th>Date</th>
                                <th>Sale Id</th>
                                <th>Quantity</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="p-td" ng-repeat="sale in sales">
                                <td>{{$index+1}}</td>
                                <td>{{sale.created_at | date:'dd/MM/yy'}}</td>
                                <td>{{sale.id}}</td>
                                <td>{{sale.quantity}}</td>
                                <td>{{sale.status=='0'?'Incomplete':sale.value}}</td>
                            </tr>
                            <tr class="p-td">
                                <td></td>
                                <th>Total</th>
                                <td></td>
                                <td>{{saleQuantity}}</td>
                                <td>{{saleValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p ng-show="sales.length==0" style="font-size: 16px;">No sales have been issued yet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" ng-show="role.indexOf('supplier_info_dashboard')!=-1">
            <div class="ibox float-e-margins" >
                <div class="ibox-title" style="min-height: 60px;">
                    <div class="col-md-12">
                        <h5 style="padding-top: 10px;">Supplier Info
                            <span data-toggle="modal" data-target="#myModal36">
                                <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                            </span>
                        </h5>
                        <div class="modal inmodal" id="myModal36" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <h3>Instructions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Please search Suppliers information</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="min-height: 100px;">
                    <div class="col-lg-12">
                        <ui-select ng-model="supplier" on-select="supplierSelected($item, $model)" ng-required="true" theme="select2" class="col-md-12"
                            title="Choose a supplier">
                            <ui-select-match placeholder="Select a supplier">{{$select.selected.company}}</ui-select-match>
                            <ui-select-choices repeat="person in suppliers | propsFilter: {company: $select.search}">
                                <div ng-bind-html="person.company | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row" style="margin:10px;margin-top:50px" ng-show="supplier">
                        <p ng-hide="suppliersPurchases.length">No purchases made by this supplier.</p>
                        <table class="table table-striped" ng-show="suppliersPurchases.length">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Reference
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            <tr ng-repeat="purchase in suppliersPurchases">
                                <td>
                                    {{purchase.created_at | date:"dd/MM/yyyy"}}
                                </td>
                                <td>
                                    {{purchase.reference}}
                                </td>
                                <td>
                                    <a href="#!/warehouse/purchaseDetails/{{purchase.id}}">Purchasewise report</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-show="role.indexOf('buyer_info_dashboard')!=-1">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                    <div class="col-md-12">
                        <h5 style="padding-top: 10px;">Buyer Info
                            <span data-toggle="modal" data-target="#myModal36">
                                <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                            </span>
                        </h5>
                        <div class="modal inmodal" id="myModal36" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <h3>Instructions</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Please search Buyers informations</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ibox-content" style="min-height: 100px;">

                    <div class="col-lg-12">
                        <ui-select ng-model="buyer" on-select="buyerSelected($item, $model)" ng-required="true" theme="select2" class="col-md-12"
                            title="Choose a buyer">
                            <ui-select-match placeholder="Select a buyer">{{$select.selected.company}}</ui-select-match>
                            <ui-select-choices repeat="person in buyers | propsFilter: {company: $select.search}">
                                <div ng-bind-html="person.company | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>