<style>
        ._720kb-datepicker-calendar {
            min-width: auto!important;
            max-width: 1500px!important;
        }
    
        ._720kb-datepicker-calendar-day._720kb-datepicker-active,
        ._720kb-datepicker-calendar-day:hover {
            background: #148efa!important;
            color: white!important;
        }
    
        .padding-left-3em {
            padding-left: 3em;
        }
    
        label {
            font-size: 25px;
        }
    </style>
    <div class="ibox float-e-margins">
        <div class="tabs-container">
            
        </div>
    </div>