<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                	<div class="col-md-9">
	                    <h5 style="padding-top: 10px;">Purchase</h5>
                	</div>
                	<div class="col-md-3">
                		<select class="form-control" name="account" style="border: none;">
                        <option>Today</option>
                        <option>Yesterday</option>
                        <option>This Weak</option>
                        <option>This Month</option>
                    </select>
                	</div>
                    
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                        <tr class="p-th">
                            <th>S/L</th>
                            <th>Date</th>
                            <th>Purchase Id</th>
                            <th>Quantity</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="p-td">
                            <td>1</td>
                            <td>21/03/95</td>
                            <td>12</td>
                            <td>1200</td>
                            <td>20</td>
                        </tr>
                        
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="min-height: 60px;">
                	<div class="col-md-9">
	                    <h5 style="padding-top: 10px;">Sale</h5>
                	</div>
                	<div class="col-md-3">
                		<select class="form-control" name="account" style="border: none;">
                        <option>Today</option>
                        <option>Yesterday</option>
                        <option>This Weak</option>
                        <option>This Month</option>
                    </select>
                	</div>
                    
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                        <tr class="p-th">
                            <th>S/L</th>
                            <th>Date</th>
                            <th>Purchase Id</th>
                            <th>Quantity</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="p-td">
                            <td>1</td>
                            <td>21/03/95</td>
                            <td>12</td>
                            <td>1200</td>
                            <td>20</td>
                        </tr>
                        
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>