<div class="ibox">
    <div class="ibox float-e-margins" style="padding-top: 30px;">
        <div class="ibox-title">
            <h5>Header</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="panel-body" style="border: none;">
                    <div class="ibox-content" style="border: none;">
                        <fieldset class="form-horizontal">
                            <div class="form-group"><label class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" placeholder="Product name"></div>
                            </div>
                            <!--<ui-select ng-required="true" close-on-select="false" style="padding-left: 0px;"-->
                            <!--theme="select2" class="col-md-12" title="Choose products">-->
                            <!--<ui-select-match placeholder="Select products">{{$item.name}}</ui-select-match>-->
                            <!--<ui-select-choices repeat="product in products | propsFilter: {name: $select.search}">-->
                            <!--<div ng-bind-html="product.name | highlight: $select.search"></div>-->
                            <!--<small>-->
                            <!--Meta: <span ng-bind-html="''+product.meta | highlight: $select.search"></span>-->
                            <!--</small>-->
                            <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                            <div class="form-group"><label class="col-sm-2 control-label">Description:</label>
                                <div class="col-sm-10">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content no-padding">

                                            <div class="summernote">
                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-2"></div>
                        <div class="col-md-10" style="padding-right: 0px; padding-left: 6px;">
                           <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Image preview
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="img/gallery/2s.jpg">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                           </div>
                           <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Image preview
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="img/gallery/2s.jpg">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                           </div>
                           <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Image preview
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="img/gallery/2s.jpg">
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label">Upload New Image:</label>
                            <div class="col-sm-10" style="padding-right: 0px; padding-left: 6px;">
                                <input type="file" class="form-control" id="file" multiple>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label">Upload New File:</label>
                            <div class="col-sm-10" style="padding-right: 0px; padding-left: 6px; margin-top: 10px;">
                                <input type="file" class="form-control" id="file" multiple>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-2" style="    margin-top: 10px; padding-left: 6px;">
                            <button type="submit" class="btn btn-primary" style="width: 20%;">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>