<div class="ibox">
    <div class="ibox float-e-margins" style="padding-top: 30px;">
        <div class="ibox-title">
            <h5>Stock</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="panel-body" style="border: none;">
                    <div class="ibox-content" style="border: none;">

                        <div class="tab-pane active">
                            <div>
                                <div class="p-m-p">
                                    <div class="col-md-4">Name:</div>
                                    <div class="col-md-8">{{product.name}}</div>
                                    <div class="clearix"></div>
                
                                    <div class="col-md-4">Meta:</div>
                                    <div class="col-md-8">{{product.meta}}</div>
                                    <div class="clearix"></div>
                
                                    <div class="col-md-4">Initial stock:</div>
                                    <div class="col-md-8">{{product.initial_stock}}</div>
                                    <div class="clearix"></div>
                
                                    <div class="col-md-4">Available:</div>
                                    <div class="col-md-8">{{product.stock}}</div>
                                    <div class="clearix"></div>
                
                                    <div class=" float-e-margins">
                                        <div class="ibox-content" style="border: none;">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="p-th">
                                                        <th>Color</th>
                                                        <th>Size</th>
                                                        <th>Stock</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="color in product.colors">
                                                    <tr class="p-td" ng-repeat="size in color.sizes">
                                                        <td>{{color.name}}</td>
                                                        <td>{{size.name}}</td>
                                                        <td>{{size.quantity}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>        
</div>