<div class="ibox float-e-margins">
    <div class="row" ng-show="role.indexOf('warehouse_purchase_view')!=-1">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Purchase List
                        <span data-toggle="modal" data-target="#myModal">
                            <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                        </span>
                    </h5>
                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <h3>Instructions</h3>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>Purchase List contains all completed and incomplete purchases</li>
                                        <li>You can view and edit all of the purchases </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="panel-body" style="border: none;">
                            <div class="ibox-content" style="border: none;">

                                <div class="table-responsive">
                                    <p ng-hide="purchases.length>0">No purchase available.</p>
                                    <table class="footable table table-stripped toggle-arrow-tiny" ng-show="purchases.length>0">
                                        <thead>
                                            <tr class="gtable p-th">
                                                <th>S/N</th>
                                                <th>Date</th>
                                                <th>Supplier Name</th>
                                                <th>Reference</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gtable p-td" ng-repeat="purchase in purchases">
                                                <td>{{$index+1}}</td>
                                                <td>{{purchase.created_at | date:'dd/MM/yy'}}</td>
                                                <td>{{purchase.supplier.company}}</td>
                                                <td>{{purchase.reference}}</td>
                                                <td>
                                                    <span ng-show="purchase.status=='0'" style="color:red">Incomplete</span>
                                                    <span ng-hide="purchase.status=='0'" style="color:green">Complete</span>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="showPurchaseInfo(purchase)">
                                                        <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Purchase Detail" style="margin-right: 10px;"></i>
                                                    </a>
                                                    <a ng-show="role.indexOf('warehouse_purchase_modification')!=-1" href="#!/warehouse/edit/purchase/{{purchase.id}}">
                                                        <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit information" style="margin-right: 10px;"></i>
                                                    </a>
                                                    <a href="#!/warehouse/purchaseDetails/{{purchase.id}}">
                                                        <i class="fa fa-sticky-note-o" data-toggle="tooltip" data-placement="top" title="Purchase-wise report"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="role.indexOf('warehouse_sale_view')!=-1">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sales List
                        <span data-toggle="modal" data-target="#myModal33">
                            <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                        </span>
                    </h5>
                    <div class="modal inmodal" id="myModal33" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <h3>Instructions</h3>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>Sales List contains all sales</li>
                                        <li>You can view details of all the sales</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="panel-body" style="border: none;">
                            <div class="ibox-content" style="border: none;">

                                <div class="table-responsive">
                                    <p ng-hide="sales.length>0">No sales available.</p>
                                    <table class="footable table table-stripped toggle-arrow-tiny" ng-show="sales.length>0">
                                        <thead>
                                            <tr class="gtable p-th">
                                                <th>S/N</th>
                                                <th>Date</th>
                                                <th>Buyer Name</th>
                                                <th>Reference</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gtable p-td" ng-repeat="sale in sales">
                                                <td>{{$index+1}}</td>
                                                <td>{{sale.created_at | date:'dd/MM/yy'}}</td>
                                                <td>{{sale.buyer.company}}</td>
                                                <td>{{sale.reference}}</td>
                                                <td>
                                                    <span ng-show="sale.status=='0'" style="color:red">Incomplete</span>
                                                    <span ng-hide="sale.status=='0'" style="color:green">Complete</span>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="showSaleInfo(sale)">
                                                        <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View sale Detail" style="margin-right: 10px;"></i>
                                                    </a>
                                                    <a ng-show="role.indexOf('warehouse_sale_modification')!=-1" href="#!/warehouse/salesEdit/{{sale.id}}">
                                                        <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit information" style="margin-right: 10px;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" ng-hide="role.indexOf('color_view')==-1 || role.indexOf('size_view')==-1 || role.indexOf('category_view')==-1">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" ng-hide="role.indexOf('color_view')==-1">
                        <a data-toggle="tab" href="#tab-1" >Color</a>
                    </li>
                    <li  ng-hide="role.indexOf('size_view')==-1">
                        <a data-toggle="tab" href="#tab-2" >Size</a>
                    </li>
                    <li  ng-hide="role.indexOf('category_view')==-1">
                        <a data-toggle="tab" href="#tab-3" >Category</a>
                    </li>
                    <li class="" ng-hide="role.indexOf('category_view')==-1">
                        <a data-toggle="tab" href="#tab-4" >Subcategory</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <p ng-hide="colors.length>0">No colors available.</p>
                            <table class="table" style="margin-bottom: 10px;" ng-show="colors.length>0">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Name</th>
                                        <th>Color</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-td" ng-repeat="color in colors track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>{{color.name}}</td>
                                        <td ng-style="{'background-color': color.hex}"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs ware-db" ng-hide="role.indexOf('color_modification')==-1" ng-click="addNewColor()">Add New</button>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <p ng-hide="sizes.length>0">No sizes available.</p>
                            <table class="table" style="margin-bottom: 10px;" ng-show="sizes.length>0">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-td" ng-repeat="size in sizes track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>{{size.name}}</td>
                                    </tr>

                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs pull-right" ng-hide="role.indexOf('size_modification')==-1" ng-click="addNewSize()">Add New</button>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <p ng-hide="categories.length>0">No categories available.</p>
                            <table class="table" style="margin-bottom: 10px;" ng-show="categories.length>0">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-td" ng-repeat="category in categories">
                                        <td>{{$index+1}}</td>
                                        <td>{{category.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs ware-db" ng-click="addNewCategory()" ng-hide="role.indexOf('category_modification')==-1">Add New</button>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <p ng-hide="categories.length>0">No subcategories available.</p>
                            <table class="table" style="margin-bottom: 10px;" ng-show="categories.length>0">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Category</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="category in categories">
                                    <tr class="p-td" ng-repeat="sub_category in category.sub_category">
                                        <td>{{$index+1}}</td>
                                        <td>{{category.name}}</td>
                                        <td>{{sub_category.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs ware-db" ng-click="addNewSubcategory()" ng-hide="role.indexOf('category_modification')==-1">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"  ng-show="role.indexOf('supplier_view')!=-1">
                        <a data-toggle="tab" href="#tab-5">Suppliers</a>
                    </li>
                    <li  ng-show="role.indexOf('buyer_view')!=-1">
                        <a data-toggle="tab" href="#tab-6">Buyer</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-5" class="tab-pane active" ng-show="role.indexOf('supplier_view')!=-1">
                        <div class="panel-body">
                            <p ng-hide="suppliers.length>0">No suppliers available.</p>
                            <table class="table" style="margin-bottom: 10px;" ng-show="suppliers.length>0">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-td" ng-repeat="supplier in suppliers">
                                        <td>{{$index+1}}</td>
                                        <td>{{supplier.company}}</td>
                                    </tr>

                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs ware-db" ng-click="addNewSupplier()" ng-show="role.indexOf('supplier_modification')!=-1">Add New</button>
                        </div>
                    </div>
                    <div id="tab-6" class="tab-pane" ng-show="role.indexOf('buyer_view')!=-1">
                        <div class="panel-body">
                                <p ng-hide="buyers.length>0">No buyers available.</p>
                                <table class="table" style="margin-bottom: 10px;" ng-show="buyers.length>0">
                                    <thead>
                                        <tr class="p-th">
                                            <th>S/L</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="p-td" ng-repeat="supplier in buyers">
                                            <td>{{$index+1}}</td>
                                            <td>{{supplier.company}}</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            <button type="button" class="btn btn-primary btn-xs ware-db" ng-show="role.indexOf('buyer_modification')!=-1" ng-click="">Add New</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>