<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ledger
                        <span data-toggle="modal" data-target="#myModal36">
                            <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                        </span>
                    </h5>
                    <div class="modal inmodal" id="myModal36" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <h3>Instructions</h3>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>Please choose the date range to see your profit and loss</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4" style="padding-top:20px">
                            <label>Select start date</label>
                            <datepicker date-format="M/d/yyyy">
                                <input ng-model="from" class="form-control" type="text" />
                            </datepicker>
                        </div>
                        <div class="col-md-4" style="padding-top:20px">
                            <label>Select end date</label>
                            <datepicker date-format="M/d/yyyy">
                                <input ng-model="to" class="form-control" type="text" />
                            </datepicker>
                        </div>

                        <div class="col-md-4" style="padding-top:43px">
                            <a class="btn btn-info" ng-disabled="!to || !from" ng-click="showProfitLoss(from, to)">Get Profit and loss</a>
                            <a class="btn btn-info" ng-show="showingProfitLoss" ng-click="printDiv('profitLoss')">Print</a>
                        </div>
                        <div class="col-md-12" id="profitLoss" style="background-color:white; margin-top: -250px; padding:20px" ng-show="showingProfitLoss">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <h3 style="text-align: center;">Profit and Loss A/C</h3>
                                            <h5 style="text-align: center;">{{from}} to {{to}}</h5>

                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>
                                                        Particulars
                                                        <span style="float: right;">{{from}} to {{to}}</span>
                                                    </th>
                                                    <th>
                                                        Particulars
                                                        <span style="float: right;">{{from}} to {{to}}</span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="borderless">
                                                            <tr>
                                                                <th>Direct expenses</th>
                                                                <th></th>
                                                                <th style="text-align: right">{{profitLoss.expense.direct.total}}</th>
                                                            </tr>
                                                            <tr ng-repeat="expense in profitLoss.expense.direct.accounts" style="height: 35px;">
                                                                <td>
                                                                    <span ng-class="isItalicAccount(expense.type)">{{expense.name}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="!expense.type">{{expense.balance}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="expense.type" style="font-weight: bold">{{expense.balance}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px;">
                                                                <th></th>
                                                                <th></th>
                                                                <th style="text-align: right;">
                                                                    <span class="gross-total">{{gross_total}}</span>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>Indirect expenses</th>
                                                                <th></th>
                                                                <th style="text-align: right">{{profitLoss.expense.indirect.total}}</th>
                                                            </tr>
                                                            <tr ng-repeat="expense in profitLoss.expense.indirect.accounts" style="height: 35px;">
                                                                <td>
                                                                    <span ng-class="isItalicAccount(expense.type)">{{expense.name}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="!expense.type">{{expense.balance}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="expense.type" style="font-weight: bold">{{expense.balance}}</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <table class="borderless">
                                                            <tr>
                                                                <th>Direct revenue</th>
                                                                <th></th>
                                                                <th style="text-align: right">{{profitLoss.revenue.direct.total}}</th>
                                                            </tr>
                                                            <tr ng-repeat="revenue in profitLoss.revenue.direct.accounts" style="height: 35px;">
                                                                <td>
                                                                    <span ng-class="isItalicAccount(revenue.type)">{{revenue.name}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="!revenue.type">{{revenue.balance}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="revenue.type" style="font-weight: bold">{{revenue.balance}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 50px;">
                                                                <th></th>
                                                                <th></th>
                                                                <th style="text-align: right;">
                                                                    <span class="gross-total">{{gross_total}}</span>
                                                                </th>
                                                            </tr>
                                                            <tr style="height: 17px;">
                                                                <th></th>
                                                                <th></th>
                                                                <th style="text-align: right"></th>
                                                            </tr>
                                                            <tr ng-repeat="revenue in profitLoss.revenue.indirect.accounts" style="height: 35px;">
                                                                <td>
                                                                    <span ng-class="isItalicAccount(revenue.type)">{{revenue.name}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="!revenue.type">{{revenue.balance}}</span>
                                                                </td>
                                                                <td style="text-align: right">
                                                                    <span ng-if="revenue.type" style="font-weight: bold">{{revenue.balance}}</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Total
                                                        <span style="float: right;">{{net_total}}</span>
                                                    </th>
                                                    <th>
                                                        Total
                                                        <span style="float: right;">{{net_total}}</span>
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>