<div class="ibox float-e-margins">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Incomplete List
                    <small>Simple example</small>
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="tabs-container">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="border: none;">

                                    <div class="ibox-content" style="border: none;">

                                        <div class="table-responsive">
                                            <table class="footable table table-stripped toggle-arrow-tiny">
                                                <thead>
                                                    <tr class="gtable p-th">
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Supplier Name</th>
                                                        <th>Reference</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gtable p-td" ng-repeat="purchase in incompletePurchases">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{purchase.created_at}}</td>
                                                        <td>{{purchase.supplier.company}}</td>
                                                        <td>{{purchase.reference}}</td>
                                                        <td>
                                                            <a href="" ng-click="showPurchaseInfo(purchase)">
                                                                <i class="fa fa-eye" style="margin-right: 10px;"></i>
                                                            </a>
                                                            <a href="" ng-click="addAccountsInfo(purchase)">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Complete List
                    <small>Simple example</small>
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="tabs-container">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="border: none;">

                                    <div class="ibox-content" style="border: none;">

                                        <div class="table-responsive">
                                            <table class="footable table table-stripped toggle-arrow-tiny">
                                                <thead>
                                                    <tr class="gtable p-th">
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Supplier Name</th>
                                                        <th>Reference</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gtable p-td" ng-repeat="purchase in completePurchases">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{purchase.created_at}}</td>
                                                        <td>{{purchase.supplier.company}}</td>
                                                        <td>{{purchase.reference}}</td>
                                                        <td>
                                                            <a href="" ng-click="showCompletePurchaseInfo(purchase)">
                                                                <i class="fa fa-eye" style="margin-right: 10px;"></i>
                                                            </a>
                                                            <!-- <a href="" ng-click="addAccountsInfo(purchase)">
                                                                <i class="fa fa-edit"></i>
                                                            </a> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>