<div class="ibox float-e-margins">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Incomplete Purchase List
                    <span data-toggle="modal" data-target="#myModal33">
                        <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                    </span>
                </h5>
                <div class="modal inmodal" id="myModal33" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <h3>Instructions</h3>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>Please complete the following list of purchases by issuing the accounts details</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="tabs-container">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="border: none;">

                                    <div class="ibox-content" style="border: none;">

                                        <div class="table-responsive">
                                            <p ng-hide="incompletePurchases.length>0">No incomplete purchases.</p>
                                            <table class="footable table table-stripped toggle-arrow-tiny" ng-show="incompletePurchases.length>0">
                                                <thead>
                                                    <tr class="gtable p-th">
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Supplier Name</th>
                                                        <th>Reference</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gtable p-td" ng-repeat="purchase in incompletePurchases">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{purchase.created_at}}</td>
                                                        <td>{{purchase.supplier.company}}</td>
                                                        <td>{{purchase.reference}}</td>
                                                        <td>
                                                            <a href="" ng-click="showPurchaseInfo(purchase)">
                                                                <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Purchase Detail" style="margin-right: 10px;"></i>
                                                            </a>
                                                            <a href="" ng-click="addAccountsInfo(purchase)">
                                                                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Complete accounts information"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Complete Purchase List
                    <span data-toggle="modal" data-target="#myModal37">
                        <i style="margin-left: 5px;" class="fa fa-info-circle"></i>
                    </span>
                </h5>
                <div class="modal inmodal" id="myModal37" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <h3>Instructions</h3>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>View the details of the issued purchase or edit</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tabExtended">Extended</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tabDue">Due</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#tabPaid">Full paid</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tabExtended" class="tab-pane active">
                            <div class="panel-body">
                                <p ng-hide="extendedPurchases.length>0">No extended purchases.</p>
                                <table class="footable table table-stripped toggle-arrow-tiny" ng-show="extendedPurchases.length>0">
                                    <thead>
                                        <tr class="gtable p-th">
                                            <th>S/N</th>
                                            <th>Date</th>
                                            <th>Supplier Name</th>
                                            <th>Reference</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gtable p-td" ng-repeat="purchase in extendedPurchases">
                                            <td>{{$index+1}}</td>
                                            <td>{{purchase.created_at}}</td>
                                            <td>{{purchase.supplier.company}}</td>
                                            <td>{{purchase.reference}}</td>
                                            <td>
                                                <a href="" ng-click="showCompletePurchaseInfo(purchase)">
                                                    <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Purchase Detail" style="margin-right: 10px;"></i>
                                                </a>
                                                <a href="" ng-click="editAccountsInfo(purchase)">
                                                    <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Complete accounts information"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tabDue" class="tab-pane">
                            <div class="panel-body">
                                <p ng-hide="duePurchases.length>0">No due purchases.</p>
                                <table class="footable table table-stripped toggle-arrow-tiny" ng-show="duePurchases.length>0">
                                    <thead>
                                        <tr class="gtable p-th">
                                            <th>S/N</th>
                                            <th>Date</th>
                                            <th>Supplier Name</th>
                                            <th>Reference</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gtable p-td" ng-repeat="purchase in duePurchases">
                                            <td>{{$index+1}}</td>
                                            <td>{{purchase.created_at}}</td>
                                            <td>{{purchase.supplier.company}}</td>
                                            <td>{{purchase.reference}}</td>
                                            <td>
                                                <a href="" ng-click="showCompletePurchaseInfo(purchase)">
                                                    <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Purchase Detail" style="margin-right: 10px;"></i>
                                                </a>
                                                <a href="" ng-click="editAccountsInfo(purchase)">
                                                    <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Complete accounts information" style="margin-right: 10px;"></i>
                                                </a>
                                                <a href="" ng-click="addPaymentToPurchase(purchase)">
                                                    <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add new payment information"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tabPaid" class="tab-pane">
                            <div class="panel-body">
                                <p ng-hide="paidPurchases.length>0">No paid purchases.</p>
                                <table class="footable table table-stripped toggle-arrow-tiny" ng-show="paidPurchases.length>0">
                                    <thead>
                                        <tr class="gtable p-th">
                                            <th>S/N</th>
                                            <th>Date</th>
                                            <th>Supplier Name</th>
                                            <th>Reference</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gtable p-td" ng-repeat="purchase in paidPurchases">
                                            <td>{{$index+1}}</td>
                                            <td>{{purchase.created_at}}</td>
                                            <td>{{purchase.supplier.company}}</td>
                                            <td>{{purchase.reference}}</td>
                                            <td>
                                                <a href="" ng-click="showCompletePurchaseInfo(purchase)">
                                                    <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Purchase Detail" style="margin-right: 10px;"></i>
                                                </a>
                                                <a href="" ng-click="editAccountsInfo(purchase)">
                                                    <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Complete accounts information"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>