<div class="ibox float-e-margins">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Incomplete Sales List
                    <small>Please complete the following list of sales by issuing the accounts details</small>
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="tabs-container">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="border: none;">

                                    <div class="ibox-content" style="border: none;">

                                        <div class="table-responsive">
                                            <table class="footable table table-stripped toggle-arrow-tiny">
                                                <thead>
                                                    <tr class="gtable p-th">
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Buyer Name</th>
                                                        <th>Reference</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gtable p-td" ng-repeat="sale in incompleteSales">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{sale.created_at}}</td>
                                                        <td>{{sale.buyer.company}}</td>
                                                        <td>{{sale.reference}}</td>
                                                        <td>
                                                            <a href="" >
                                                                <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" ng-click="showIncompleteSaleInfo(sale)" title="View Sales Details" style="margin-right: 10px;"></i>
                                                            </a>
                                                            <a href="" >
                                                                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" ng-click="addAccountsInfo(sale)" title="Complete accounts information"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Complete Sales List
                    <small>View the details of the issued sales or edit</small>
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="tabs-container">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="border: none;">

                                    <div class="ibox-content" style="border: none;">

                                        <div class="table-responsive">
                                            <table class="footable table table-stripped toggle-arrow-tiny">
                                                <thead>
                                                    <tr class="gtable p-th">
                                                        <th>S/N</th>
                                                        <th>Date</th>
                                                        <th>Buyer Name</th>
                                                        <th>Reference</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="gtable p-td" ng-repeat="sale in completeSales">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{sale.created_at}}</td>
                                                        <td>{{sale.buyer.company}}</td>
                                                        <td>{{sale.reference}}</td>
                                                        <td>
                                                            <a href="" >
                                                                <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View Sales Details" ng-click="showCompleteSaleInfo(sale)" style="margin-right: 10px;"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>