<form ng-submit="save(item)">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Incomplete Purchase Details</h4>
    </div>
    <div class="modal-body">
        <div class="">

            <div class="tab-pane active">
                <div>                          
                    <div class="p-m-p">
                        <div class="col-md-4">Supplier Name:</div>
                        <div class="col-md-8">{{item.supplier.company}}</div>
                        <div class="clearix"></div>

                        <div class="col-md-4">Reference:</div>
                        <div class="col-md-8">{{item.reference}}</div>
                        <div class="clearix"></div>
                        <div class=" float-e-margins">
                        <div class="ibox-content" style="border: none;">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="p-th">
                                        <th>S/L</th>
                                        <th>Date</th>
                                        <th>Product Name</th>
                                        <th>Cetegory</th>
                                        <th>Subcetegory</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-td" ng-repeat="product in item.product">
                                        <td>{{$index+1}}</td>
                                        <td></td>
                                        <td>{{product.name}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{product.stock}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a type="button" class="btn btn-warning" ng-click="cancel()">Close</a>
    </div>
</form>